@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='checkbox']:checked {
	background-image: url('../public/tick.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  }
  
  /* Reset CSS */
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html, body {
	width: 100%;
	overflow-x: hidden;
  }
  